/* search */

.search-wrapper {
  display: grid;
  justify-content: center;
  padding: 3rem;
}

.search-wrapper label {
  padding: 0.5rem 1rem;
}

#search-input {
  height: 3rem;
  min-width: 15rem;
  width: 25vw;
  border-radius: 3rem;
  padding: 0.5rem;
}

/* blog posts */

.blog-posts {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 2rem 0;
  padding: 2rem 0;
}
.post-text {
  background-color: white;
  width: 30rem;
  margin-top: -0.5rem;
}
.post-text > * {
  padding: 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}
.more-btn {
  padding: 1rem 2rem;

  margin: 3rem;
}

@media (min-width: 700px) {
  .blog-posts {
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    padding: 2rem;
  }
}

.hide {
  display: none;
}
