main {
  background-image: url(../img/contact-bg.png);
}

.contact-form {
  margin-top: 2rem;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-form-wrapper {
  background: rgba(2, 1, 1, 0.75);
  border-radius: 20px;
  width: clamp(30rem, 28rem + 10vw, 40rem);
  padding: 2rem 3rem;
}

main {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.input-field {
  border-radius: 5px;
  border: 0;
  padding: 0.5rem;
}

.submit-btn {
  background-color: var(--tertiary-color);
  border-radius: 5px;
  padding: 1rem 2rem;
  border: none;
  font-family: "Arapey", serif;
  font-size: clamp(1.6rem, 1.56rem + 0.2vw, 1.8rem);
}

.form-error {
  visibility: hidden;
  /* display: none; */
  color: red;
}
