/* @import "./style.css"; */

/* hero section */

.hero-paragraph {
  margin: 2rem 0;
}

.qoute-section {
  background-color: var(--secondary-color);
  height: 20vh;
}
.qoute-section p {
  width: 50vw;
  padding-top: 3rem;
  margin-left: 2rem;
  margin-top: 2rem;
  font-style: italic;
}
.blogs-butten {
  padding: 1.5rem 4rem;
}
.blogs-butten a {
  text-decoration: none;
  font-family: "Arapey", serif;
  font-size: clamp(1.6rem, 1.56rem + 0.2vw, 1.8rem);
}

.img-hero-section img {
  position: absolute;
  top: 14rem;
  right: 2rem;
  width: clamp(11rem, 7.2rem + 19vw, 30rem);
}

.text-hero-section p {
  width: 40vw;
}
.text-hero-section {
  margin-left: 2rem;
}

@media (min-width: 700px) {
  .img-hero-section img {
    top: 13rem;
    right: 4rem;
  }
  .text-hero-section p {
    width: 50vw;
  }
  .text-hero-section,
  .qoute-section p {
    margin-left: 4rem;
    min-height: 250px;
  }
}
@media (min-width: 1000px) {
  .qoute-section {
    height: 30vh;
  }
  .img-hero-section img {
    top: 13rem;
    right: 6rem;
  }

  .text-hero-section,
  .qoute-section p {
    margin-top: 3rem;
    margin-left: 6rem;
  }
}

/* carousel */

.carousel-post {
  flex-direction: column;
  align-items: center;
}

.carousel-wrapper {
  padding: 2rem 0;
  width: 100%;
  position: relative;
}
.carousel-wrapper i {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.post-link {
  color: var(--tertiary-color);
  font-weight: bold;
}
.drink-name {
  margin: 0.5rem 0;
}

.carousel-wrapper i:first-child {
  left: 10px;
}
.carousel-wrapper i:last-child {
  right: 10px;
}
.carousel-text {
  padding: 1rem;
  width: 300px;
  background-color: white;
}

.carousel-wrapper .carousel {
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4));
}

@media (max-width: 1200px) {
  .carousel-wrapper .carousel {
    grid-auto-columns: calc((100% / 3));
  }
}
@media (max-width: 900px) {
  .carousel-wrapper .carousel {
    grid-auto-columns: calc((100% / 2));
  }
}
@media (max-width: 600px) {
  .carousel-wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.carousel .dragging .carousel-post {
  cursor: grab;
  user-select: none;
}

/* coffee prosess */

.coffee-beans,
.coffee-grounds,
.coffee-done,
.coffee-prosess {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 2rem;
}
.coffee-prosess {
  background-color: var(--secondary-color);
  gap: 5rem;

  padding: 5rem;
}

@media (min-width: 600px) {
  .coffee-prosess {
    flex-direction: row;
    justify-content: space-around;
  }
}
