@import "./style.css";
.qoute-section {
  background-color: var(--secondary-color);
  height: 20vh;
}
.qoute-section p {
  width: 50vw;
  color: white;
  padding-top: 3rem;
  margin-left: 2rem;
  margin-top: 2rem;
  font-style: italic;
}
.blogs-butten {
  background-color: var(--tertiary-color);
  border-radius: 10px;
  padding: 0.5rem 2rem;
  border: none;
}
.blogs-butten a {
  color: white;
  text-decoration: none;
  font-family: "Arapey", serif;
  font-size: clamp(1.6rem, 1.56rem + 0.2vw, 1.8rem);
}

/* .hero-section {
  justify-content: space-around;
} */

.img-hero-section img {
  position: absolute;
  top: 14rem;
  right: 2rem;
  /* width: 35vw; */
  width: clamp(11rem, 7.2rem + 19vw, 30rem);
}
.img-hero-section.active {
  display: none;
}

h1 {
  font-weight: normal;
  /* text-transform: uppercase; */
}

.text-hero-section p {
  width: 40vw;
}
.text-hero-section {
  margin-left: 2rem;
}

@media (min-width: 700px) {
  /* .qoute-section {
    height: 30vh;
  } */
  .img-hero-section img {
    top: 13rem;
    right: 4rem;
    /* width: 35vw; */
    /* top: 10rem;
    right: 10rem; */
    /* width: 30vw; */
  }
  .text-hero-section p {
    width: 50vw;
  }
  .text-hero-section,
  .qoute-section p {
    margin-left: 4rem;
    min-height: 250px;
  }
}
@media (min-width: 1000px) {
  .qoute-section {
    height: 30vh;
  }
  .img-hero-section img {
    top: 13rem;
    right: 6rem;
    /* width: 35vw; */
    /* top: 10rem;
    right: 10rem; */
    /* width: 30vw; */
  }
  .text-hero-section p {
    width: 50vw;
  }
  .text-hero-section,
  .qoute-section p {
    margin-top: 3rem;
    margin-left: 6rem;
  }
}

.carousel-section {
  position: relative;
  overflow-x: hidden;
  height: 200px;
}
.carousel-blog-post {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: start;
  left: 0;
  top: 0;
  transition: 0.4s ease-in-out;
}
.carousel-post {
  width: 300px;
  height: 200px;
  margin: 0 10px;
}

.carousel-btn {
  border: none;
  outline: none;
  position: absolute;
}

.next {
  right: 0;
}
.prev {
  left: 0;
}
