.post-text {
  background-color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);
}
.modal-img {
  margin: 15% auto;
}
.drink-img-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 50vh;
  transform: translate(-50%, -50%);
}
.post-hero {
  flex-direction: column;
  max-width: 120rem;
  justify-content: center;
}

.post-hero-text {
  display: flex;
  width: 100vw;
  height: 20vh;
  background-color: white;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-drink-img {
  width: 100vw;
  max-height: 30vh;
  object-fit: cover;
}
.post-main {
  flex-direction: column;
  align-items: center;
}
.post-paragraph {
  padding: 3rem;
  max-width: 120rem;
}
.post-paragraph p {
  line-height: 1.3;
  margin-bottom: 2rem;
}
p:nth-child(2)::first-letter {
  font-size: 4rem;
  float: left;
  line-height: 1;
}

@media (min-width: 700px) {
  .drink-img-modal {
    max-height: 70vh;
  }
  .post-hero {
    flex-direction: row;
  }
  .hero-drink-img {
    width: fit-content;
    max-height: 40vh;
    object-fit: cover;
  }
  .post-hero-text {
    width: 30vw;
    height: 40vh;
  }
}

/* search */

#comment-form {
  padding: 5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.comment-name input,
.comment-email input {
  height: 100%;
}

.comment-name {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.comment-email {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}
.comment-text {
  grid-column: 1 / 2 span;
  grid-row: 2 / 2;
}

.comment-btn {
  grid-column: 1 / 2 span;
  grid-row: 3 / 3;
  border-radius: 1rem;
  background-color: var(--tertiary-color);
}

.comment-all {
  display: flex;
  flex-direction: column;
}

.comment-all input,
.comment-all textarea {
  border-radius: 1rem;
}
